<%- include('../layouts/header.ejs')  %> 


<div class="container">
    <div class="row text-center my-4">
        <form action="/weather" method="GET">
            <label for="city">Choose a City:</label>
        
            <select id="city" name="id">
                <option value="501186">--Please choose an option--</option>
                <% areas.forEach(area => { %>
                    <option value="<%= area.id %>"><%= area.kota %></option>
                <% }) %>
            </select>
        
            <button type="submit">Apply</button>
        </form>
    </div>
</div>


<% if (config !== undefined) { %>
    <div>
        <canvas id="myChart"></canvas>
    </div> 
<% } %>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function ()  {
        const chart = document.querySelector('#myChart');
        const config = '<%- JSON.stringify(config) %>' 
        const myChart = new Chart(
        document.getElementById('myChart'),
         JSON.parse(config)
        );
    })
    
</script>


<%- include('../layouts/footer.ejs')  %> 